@import "tailwindcss";


body {
  color: #000;
  font-size: 20px;
  margin: 0 auto;
  background: #c8c8c8;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}
